exportPattern("^[[:alpha:]]+")

import("httr")
import("foreach")

S3method("print", ADS_metrics)
S3method("print", ADS_export)

S3method("plot", ADS_metrics)

importFrom("graphics", "abline", "barplot", "legend", "par")
